.loginAdmin-form {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1.5rem;
	margin-top: 2rem;
}

.heroAdmin {
	height: 50vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: white;
}

.submit-btn-loginAdmin {
    grid-column: 1 / 1;
    background: #e74c3c;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-self: center;
    width: 200px; /* largeur fixe */
}

.submit-btn-loginAdmin:hover {
	background: #c0392b;
	transform: translateY(-2px);
}

.cta-btn-loginAdmin {
	background: #e74c3c;
	color: white;
	padding: 1rem 2rem;
	border: none;
	border-radius: 50px;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all 0.3s ease;
	animation: fadeInUp 1s ease 0.6s both;
	text-decoration: none;
	display: inline-block;
    margin-top: 60px;
}

.cta-btn-loginAdmin:hover {
	background: #c0392b;
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(231, 76, 60, 0.3);
}

.register-right {
    min-height: 300px;
    margin-top: 30px;
}

.register-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin-top: 2rem;
}

.menu-item-cat {
	background: #f8f9fa;
	padding: 2rem;
	border-radius: 15px;
	transition: all 0.3s ease;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: 0 10px 20px rgba(231, 77, 60, 0.187);
}

.edit-btn {
	background: none;
	border: 2px solid #e74c3c;
	color: #e74c3c;
	padding: 0.5rem 1rem;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-top: 1rem;
	width: 50px;
}

.edit-btn:hover {
	background: #e74c3c;
	color: white;
}
.action-cat {
	margin-left: 15%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.menu-grid-user {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	margin-bottom: 10%;
}